img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px 0 50px 0;
}

.fa {
  width: 50px;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.link {
  display: inline;
  padding: 5px;
}

.container {
  max-width: 960px;
  padding: 24px;
  margin: 24px auto;
}

.summary,
footer {
  margin: 50px 0 0 0;
}

.center {
  text-align:center
}